# Data Cleaning

In [1]:
DATA_PATH = "../output/raw-csv"
OUTPUT_PATH = "../output/csv"
OUTPUT_STAT_PATH = "../output/csv-stat"

OUTLIER_THRESHOLDS = {
    "pH": (0, 14),
    "EC": (0, 2000),
    "Temp": (0, 50),
    "DO": (0, 20)
}

In [2]:

from pathlib import Path
from pandas import DataFrame, read_csv
from logging import basicConfig, INFO
from dataclasses import dataclass
from IPython.display import display

basicConfig(level=INFO)

from mp import mp_print, mp_exec

INFO:mp:Set start method to fork

In [3]:
DATA_PATH = Path(DATA_PATH).resolve()
OUTPUT_PATH = Path(OUTPUT_PATH).resolve()
OUTPUT_STAT_PATH = Path(OUTPUT_STAT_PATH).resolve()

OUTPUT_PATH.mkdir(parents=True, exist_ok=True)
OUTPUT_STAT_PATH.mkdir(parents=True, exist_ok=True)

In [4]:
def iter_files():
    for file in filter(lambda x: x.is_file() and x.is_file(), DATA_PATH.iterdir()):
        yield file

In [5]:
@dataclass
class Stat:
    name: str
    total: int
    missing: int
    outliers: int
    valid: int
    threshold_outliers: int
    iqr_outliers: int
    ph_iqr: float
    ph_lb: float
    ph_up: float
    ec_iqr: float
    ec_lb: float
    ec_up: float
    temp_iqr: float
    temp_lb: float
    temp_up: float
    do_iqr: float
    do_lb: float
    do_up: float

def task(file: Path):
    station = file.name.split(".")[0]
    mp_print(f"Processing : {station}")
    
    stat = Stat(station,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0)
    df = read_csv(file)
    stat.total = len(df)

    df = df[["Datetime", "pH", "EC", "Temp", "DO"]]

    df.dropna(inplace=True)
    stat.missing = stat.total - len(df)

    size = len(df)
    for column, (low, high) in OUTLIER_THRESHOLDS.items():
        df = df[(df[column] >= low) & (df[column] <= high)]
        stat.threshold_outliers += size - len(df)
        size = len(df)

    Q1 = df[["pH", "EC", "Temp", "DO"]].quantile(0.25)
    Q3 = df[["pH", "EC", "Temp", "DO"]].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    df = df[
        (df["pH"] >= lower_bound["pH"]) & (df["pH"] <= upper_bound["pH"]) &
        (df["EC"] >= lower_bound["EC"]) & (df["EC"] <= upper_bound["EC"]) &
        (df["Temp"] >= lower_bound["Temp"]) & (df["Temp"] <= upper_bound["Temp"]) &
        (df["DO"] >= lower_bound["DO"]) & (df["DO"] <= upper_bound["DO"])
    ]
    
    for column in ["pH", "EC", "Temp", "DO"]:
        setattr(stat, f"{column.lower()}_iqr", IQR[column])
        setattr(stat, f"{column.lower()}_lb", lower_bound[column])
        setattr(stat, f"{column.lower()}_ub", upper_bound[column])

    stat.iqr_outliers = size - len(df)
    stat.outliers = stat.threshold_outliers + stat.iqr_outliers
    stat.valid = len(df)

    assert stat.total == stat.missing + stat.outliers + stat.valid

    return (station, df, stat)

In [6]:
data: dict[str, DataFrame] = {x: (y, z) for x, y, z in mp_exec(task, iter_files(), unorder=True)}

stats: list[Stat] = []

for station, values in data.items():
    df, stat = values
    print(f"Station : {station}, data : {df.shape}")
    stats.append(stat)
    df.to_csv(OUTPUT_PATH / f"{station}.csv", index=False)

Processing : ป่าสัก3สถานี เสาไห้ 2558-2563
Processing : ป่าสัก3สถานี นครหลวง 2558-2563
Processing : แม่น้ำท่าจีน สองพี่น้อง 2558-2563
Processing : วัง เกาะคา 2558-2563
Processing : ยม สามง่าม 2558-2563
Processing : แม่น้ำท่าจีน บางเลน 2558-2563
Processing : แม่น้ำท่าจีน กระทุ่มแบน 2558-2563
Processing : ยม โพทะเล 2558-2563
Processing : แม่น้ำท่าจีน นครชัยศรี 2558-2563
Processing : ยม สุโขทัย 2558-2563
Processing : ป่าสัก3สถานี แก่งคอย 2558-2563

/tmp/ipykernel_1328856/1459883444.py:28: DtypeWarning: Columns (6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = read_csv(file)

Processing : แม่น้ำท่าจีน หันคา 2558-2563
Processing : แม่น้ำท่าจีน สุพรรณบุรี 2558-2563
Processing : แม่น้ำท่าจีน สามชุก 2558-2563
Processing : ปิง เชียงใหม่ 2558-2563
Processing : ปิง กำแพงเพชร 2558-2563
Processing : น่าน อุตรดิตถ์ 2558-2563
Processing : น่าน น่าน 2558-2563
Processing : น่าน พิษณุโลก 2558-2563
Station : ยม สุโขทัย 2558-2563, data : (5848, 5)
Station : ยม โพทะเล 2558-2563, data : (30458, 5)
Station : แม่น้ำท่าจีน สองพี่น้อง 2558-2563, data : (55732, 5)
Station : แม่น้ำท่าจีน นครชัยศรี 2558-2563, data : (39759, 5)
Station : ป่าสัก3สถานี เสาไห้ 2558-2563, data : (57086, 5)
Station : แม่น้ำท่าจีน หันคา 2558-2563, data : (46028, 5)
Station : ยม สามง่าม 2558-2563, data : (54218, 5)
Station : แม่น้ำท่าจีน สามชุก 2558-2563, data : (6859, 5)
Station : วัง เกาะคา 2558-2563, data : (60395, 5)
Station : แม่น้ำท่าจีน กระทุ่มแบน 2558-2563, data : (28962, 5)
Station : แม่น้ำท่าจีน สุพรรณบุรี 2558-2563, data : (66404, 5)
Station : ป่าสัก3สถานี นครหลวง 2558-2563, data : (65432, 5)
Station : ป่าสัก3สถานี แก่งคอย 2558-2563, data : (46463, 5)
Station : แม่น้ำท่าจีน บางเลน 2558-2563, data : (63850, 5)
Station : ปิง เชียงใหม่ 2558-2563, data : (40218, 5)
Station : ปิง กำแพงเพชร 2558-2563, data : (49902, 5)
Station : น่าน น่าน 2558-2563, data : (52407, 5)
Station : น่าน อุตรดิตถ์ 2558-2563, data : (53210, 5)
Station : น่าน พิษณุโลก 2558-2563, data : (66439, 5)

In [7]:
stats_df = DataFrame([s.__dict__ for s in stats])
stats_df.set_index("name", inplace=True)
stats_df.sort_values("valid", ascending=False, inplace=True)
stats_df.to_csv(OUTPUT_STAT_PATH / "stat.csv", index=True)

display(stats_df[["total", "missing", "outliers", "threshold_outliers", "iqr_outliers", "valid"]])

,total,missing,outliers,threshold_outliers,iqr_outliers,valid
name,,,,,,
น่าน พิษณุโลก 2558-2563,88265,8125,13701,0,13701,66439
แม่น้ำท่าจีน สุพรรณบุรี 2558-2563,77994,8473,3117,0,3117,66404
ป่าสัก3สถานี นครหลวง 2558-2563,85184,10056,9696,0,9696,65432
แม่น้ำท่าจีน บางเลน 2558-2563,98746,20740,14156,0,14156,63850
วัง เกาะคา 2558-2563,95369,25298,9676,3304,6372,60395
ป่าสัก3สถานี เสาไห้ 2558-2563,70819,2343,11390,1998,9392,57086
แม่น้ำท่าจีน สองพี่น้อง 2558-2563,74837,6647,12458,164,12294,55732
ยม สามง่าม 2558-2563,77859,3830,19811,1280,18531,54218
น่าน อุตรดิตถ์ 2558-2563,96165,29075,13880,1168,12712,53210
น่าน น่าน 2558-2563,94835,32221,10207,0,10207,52407
ปิง กำแพงเพชร 2558-2563,82788,20834,12052,3,12049,49902
ป่าสัก3สถานี แก่งคอย 2558-2563,92688,23456,22769,0,22769,46463
แม่น้ำท่าจีน หันคา 2558-2563,72458,20017,6413,0,6413,46028
ปิง เชียงใหม่ 2558-2563,83708,27596,15894,0,15894,40218
แม่น้ำท่าจีน นครชัยศรี 2558-2563,81149,37932,3458,1232,2226,39759
ยม โพทะเล 2558-2563,54607,17098,7051,0,7051,30458
แม่น้ำท่าจีน กระทุ่มแบน 2558-2563,71976,22159,20855,5153,15702,28962
แม่น้ำท่าจีน สามชุก 2558-2563,30737,22918,960,0,960,6859
ยม สุโขทัย 2558-2563,28469,22506,115,37,78,5848

In [8]:
display(stats_df[[f"{x}_{y}" for y in ["iqr", "lb", "up"] for x in ["ph", "ec", "temp", "do"]]].round(3))

,ph_iqr,ec_iqr,temp_iqr,do_iqr,ph_lb,ec_lb,temp_lb,do_lb,ph_up,ec_up,temp_up,do_up
name,,,,,,,,,,,,
น่าน พิษณุโลก 2558-2563,1.30,35.900,2.6,1.8,3.95,101.550,22.60,2.40,0.0,0.0,0.0,0.0
แม่น้ำท่าจีน สุพรรณบุรี 2558-2563,2.70,127.400,2.6,2.7,0.95,63.700,25.60,-1.75,0.0,0.0,0.0,0.0
ป่าสัก3สถานี นครหลวง 2558-2563,0.80,107.300,2.6,2.0,5.30,121.950,25.50,-0.20,0.0,0.0,0.0,0.0
แม่น้ำท่าจีน บางเลน 2558-2563,0.70,192.900,6.9,2.3,5.15,-69.650,14.35,-2.15,0.0,0.0,0.0,0.0
วัง เกาะคา 2558-2563,1.60,338.300,3.6,4.1,4.20,-498.950,21.40,-4.75,0.0,0.0,0.0,0.0
ป่าสัก3สถานี เสาไห้ 2558-2563,1.20,128.700,2.4,2.6,6.00,149.950,25.60,-0.00,0.0,0.0,0.0,0.0
แม่น้ำท่าจีน สองพี่น้อง 2558-2563,1.08,127.900,2.1,1.1,4.18,165.650,26.45,-0.25,0.0,0.0,0.0,0.0
ยม สามง่าม 2558-2563,0.60,68.900,4.5,2.4,5.50,110.750,13.45,-0.50,0.0,0.0,0.0,0.0
น่าน อุตรดิตถ์ 2558-2563,2.10,89.900,3.5,1.3,2.05,43.750,20.75,3.55,0.0,0.0,0.0,0.0
น่าน น่าน 2558-2563,0.70,59.600,4.2,1.1,6.15,113.100,20.30,4.85,0.0,0.0,0.0,0.0
ปิง กำแพงเพชร 2558-2563,1.00,40.800,2.5,0.9,5.10,161.200,24.35,4.55,0.0,0.0,0.0,0.0
ป่าสัก3สถานี แก่งคอย 2558-2563,0.50,144.400,2.3,2.5,6.35,140.600,24.45,0.25,0.0,0.0,0.0,0.0
แม่น้ำท่าจีน หันคา 2558-2563,0.90,33.500,3.8,1.1,5.95,151.150,23.20,3.55,0.0,0.0,0.0,0.0
ปิง เชียงใหม่ 2558-2563,0.30,70.500,2.7,1.9,7.45,97.850,22.45,2.55,0.0,0.0,0.0,0.0
แม่น้ำท่าจีน นครชัยศรี 2558-2563,2.90,164.100,2.0,1.6,3.45,177.850,26.60,-1.90,0.0,0.0,0.0,0.0
ยม โพทะเล 2558-2563,1.10,257.623,3.8,3.3,5.35,-168.634,23.70,-1.55,0.0,0.0,0.0,0.0
แม่น้ำท่าจีน กระทุ่มแบน 2558-2563,1.10,186.625,2.1,0.4,4.15,235.962,25.35,-0.50,0.0,0.0,0.0,0.0
แม่น้ำท่าจีน สามชุก 2558-2563,4.40,1252.900,1.6,1.5,-4.60,-1784.050,29.80,1.45,0.0,0.0,0.0,0.0
ยม สุโขทัย 2558-2563,0.60,398.600,3.5,4.5,6.60,-360.000,23.35,-4.65,0.0,0.0,0.0,0.0